@import 'variable.scss';

.post {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: $myWidth;
    border-radius: 5px;
    margin-bottom: 20px;

    &__user {
        @include common-flex($justify: flex-start);
        padding: 2px 16px;
    }

    &__user-ava {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid black;
    }

    &__user-content {
        margin-right: 10px;
        color: lighten($color: #000000, $amount: 50%);
    }

    &__img {
        display: block;
        border-radius: 5px;
        max-height: 300px;
        margin: auto
    }

    &__content {
        padding: 2px 16px;
    }

    &__text {
        white-space: pre-wrap;
        height: 115px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__search {
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        width: 100%;
        font-size: 16px;
        background-color: white;
        background-image: url('https://www.w3schools.com/howto/searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        margin-right: 10px;
    }

    &__sort {
        display: contents;
    }

    &__buttons {
        @include common-flex;
    }

    @mixin button {
        border: none;
        color: black;
        background-color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        border-radius: 5px;
        cursor: pointer;
    }

    &__delete-btn {
        @include button();
        border: 2px solid #f44336;
        color: #f44336;
    }

    &__delete-btn:hover {
        background-color: #f44336;
        color: white;
    }

    &__edit-btn {
        @include button();
        border: 2px solid #008CBA;
        color: #008CBA;
    }

    &__edit-btn:hover {
        background-color: #008CBA;
        color: white;
    }

    &__add-btn {
        @include button();
        border-radius: 50%;
        padding: 10px 15px;
        font-size: 30px;
        border: 2px solid #4CAF50;
        color: #4CAF50;
        margin-left: 10px;
    }

    &__add-btn:hover {
        background-color: #4CAF50;
        color: white;
    }
}
  
  .post:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .space {
    flex-grow: 1;
  }

  .share {
    color: black;
    font-size: 25px;
  }

  .pagination__btn {
    color: black;
    border: none;
    float: left;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

  .pagination__btn:hover {
    background-color: #ddd;
  }
  
  .active-page {
    background-color: darkcyan;
    color: white;
  }

  .posts-action {
      @include common-flex($justify: flex-start);
      width: $myWidth;
      align-items: center;
  }

  @media only screen and (max-width: $myWidth) {
    .post {
        width: 100%;
    }

    .posts-action {
        width: 100%;
    }
}