$myColor: white;
$myFontSize: 18px;
$myWidth: 940px;
$myFont: Arial, Helvetica, sans-serif;

@mixin common-flex($wrap : nowrap, $justify : space-between) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
}

@mixin text($color : $myColor, $fontSize : $myFontSize, $fontFam: $myFont, $font-weight : 400, $spacing : -0.18px) {
    color: $color;
    font-size: $fontSize;
    font-weight: $font-weight;
    letter-spacing: $spacing;
    font-family: $fontFam;
}